.Navbar{
    background: #212124;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
    transition: background-color 0.5s ease;
    top: 0;
    padding: 10px;
    z-index: 999;
    /* box-shadow: 0 4px 4px -4px rgba(0,0,0,.2); */
}

.Navbar--hidden {
    top: -100px;
    background: #212124;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
    padding: 10px;
    /* box-shadow: 0 4px 4px -4px rgba(0,0,0,.2); */
}

.navbar-logo {
    color: var(--font-color);
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    border-style: double;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: var(--font-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: var(--heading-color);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.ph-x {
    color: #fff;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .Navbar {
        position: relative;
    }
}
